@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500;600;700;800&display=swap');

.App {
  text-align: center;
}

.personal-fig {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .personal-fig {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #ff8b0f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: syne;
  font-weight: 800;
  color: rgb(0, 0, 0);
}

.App-link {
  color: #000000;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
